/* цвет основного текста #212121 */
/* вторичный цвет текста #757575 */
/* белый цвет #ffffff */
/* акцент #2196F3 */
/* вторичный цвет фона #F5F4FA */
/* цвет фона футера #2F303A */

:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --accent-color: #2196f3;
  --white-color: #ffffff;
  --primary-bg-color: #ffffff;
  --secondary-bg-color: #f5f4fa;
  --button-bg-color: #f5f4fa;
  --footer-bg-color: #2f303a;
}

body {
  background-color: var(--primary-bg-color);
  color: var(--primary-text-color);
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.03em;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.logo {
  color: #000000;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.logo-web {
  color: var(--accent-color);
}

/* header */

.site-nav .link,
.address-nav .link {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.site-nav .link:hover,
.site-nav .link:focus,
.address-nav .link:hover,
.address-nav .link:focus {
  color: var(--accent-color);
}

.site-nav .link.current {
  color: var(--accent-color);
}

.address-nav .link {
  color: var(--secondary-text-color);
  font-style: normal;
}

/* HERO section */

.hero-title {
  color: var(--white-color);
  /* для видимости заголовка */
  background-color: #757575;
  /*  */
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.button {
  color: var(--white-color);
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
}

/* About us section */

.about-us .subtitle {
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.about-us .description {
  color: var(--secondary-text-color);
  font-size: 14px;
  line-height: 1.71;
}

/* Our works section */

.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.works .description {
  background-color: rgba(47, 48, 58, 0.8);
  color: var(--white-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
}

/* Our team section */

.team .subtitle,
.team .description {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.team .description {
  color: var(--secondary-text-color);
  font-weight: 400;
}

/* footer */

.footer {
  background-color: var(--footer-bg-color);
  color: var(--white-color);
}

.footer .logo {
  color: var(--white-color);
}

.calltoaction {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.footer .address,
.footer .address-nav {
  color: var(--white-color);
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
}

.footer .address-nav {
  color: rgba(255, 255, 255, 0.6);
}

.social-links {
  background-color: rgba(255, 255, 255, 0.1);
}

.social-links:hover,
.social-links:focus {
  background-color: var(--accent-color);
}

/* portfolio */

.button-portfolio {
  background-color: var(--button-bg-color);
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
}

.button-portfolio:hover,
.button-portfolio:focus {
  background-color: var(--accent-color);
  color: var(--white-color);
}

.portfolio .title {
  color: var(--primary-text-color);
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  text-align: left;
}

.portfolio .description {
  color: var(--secondary-text-color);
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
}

.portfolio .text {
  background-color: var(--accent-color);
  color: var(--white-color);
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
}
