/* цвет основного текста #212121 */
/* вторичный цвет текста #757575 */
/* белый цвет #ffffff */
/* акцент #2196F3 */
/* вторичный цвет фона #F5F4FA */
/* цвет фона футера #2F303A */

:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --accent-color: #2196f3;
  --white-color: #ffffff;
  --primary-bg-color: #ffffff;
  --secondary-bg-color: #f5f4fa;
  --button-bg-color: #f5f4fa;
  --footer-bg-color: #2f303a;
}

body {
  background-color: var(--primary-bg-color);
  color: var(--primary-text-color);
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.03em;
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.link {
  text-decoration: none;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/* header */

.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navigation {
  display: flex;
  align-items: center;
}

.navigation .logo {
  margin-right: 85px;
}

.site-nav {
  display: flex;
}

.site-nav .item:not(:last-child) {
  margin-right: 50px;
}

.header .address-nav {
  display: flex;
  margin-left: auto;
  align-items: center;
}

.address-nav .item:not(:last-child) {
  margin-right: 30px;
}

.logo {
  color: #000000;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.logo-web {
  color: var(--accent-color);
}

.site-nav .link,
.address-nav .link {
  display: block;
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
  padding-top: 32px;
  padding-bottom: 32px;
}

.site-nav .link:hover,
.site-nav .link:focus,
.address-nav .link:hover,
.address-nav .link:focus {
  color: var(--accent-color);
}

.site-nav .link.current {
  color: var(--accent-color);
}

.address-nav .link {
  color: var(--secondary-text-color);
  font-style: normal;
}

/* HERO section */

.hero-section {
  text-align: center;
  /* для видимости текста */
  background-color: rgba(112, 103, 103, 0.2);
}

.hero-title {
  width: 696px;
  color: var(--white-color);

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  padding-top: 200px;
  margin-top: 0;
  margin-right: auto;
  margin-bottom: 30px;
  margin-left: auto;
}

.button {
  display: inline-block;
  color: var(--white-color);
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;

  padding: 10px 32px;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
}

/* About us section */

.about-us .subtitle {
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.about-us .description {
  color: var(--secondary-text-color);
  font-size: 14px;
  line-height: 1.71;
}

/* Our works section */

.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.works .description {
  background-color: rgba(47, 48, 58, 0.8);
  color: var(--white-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
}

/* Our team section */

.team .subtitle,
.team .description {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.team .description {
  color: var(--secondary-text-color);
  font-weight: 400;
}

/* footer */

.footer .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footer-address .item:not(:last-child) {
  margin-bottom: 9px;
}

.footer {
  background-color: var(--footer-bg-color);
  color: var(--white-color);
}

.footer .logo {
  display: inline-block;
  color: var(--white-color);
  margin-bottom: 20px;
}

.join-up {
  padding-top: 72px;
  padding-bottom: 100px;
}

.join-up-list {
  display: flex;
}

.join-up-list .item:not(:last-child) {
  margin-right: 10px;
}

.join-up .text,
.subscribe .text {
  display: inline-block;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;

  margin-bottom: 20px;
}

.footer .address,
.footer .address-nav {
  color: var(--white-color);
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
}

.footer .address-nav {
  color: rgba(255, 255, 255, 0.6);
}

.social-links {
  background-color: rgba(255, 255, 255, 0.1);
}

.social-links:hover,
.social-links:focus {
  background-color: var(--accent-color);
}

/* PORTFOLIO */

/* Filter buttons */

.button-list {
  display: flex;
  justify-content: center;
  padding-top: 94px;
  padding-bottom: 50px;
}

.button-list .item:not(:last-child) {
  margin-right: 8px;
}

.button-portfolio {
  background-color: var(--button-bg-color);
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;

  border: none;
  border-radius: 4px;

  padding-top: 6px;
  padding-right: 22px;
  padding-bottom: 6px;
  padding-left: 22px;
}

.button-portfolio:hover,
.button-portfolio:focus {
  background-color: var(--accent-color);
  color: var(--white-color);
}

/* Portfolio grid */

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 94px;
}

.portfolio-list .item {
  width: calc((100% - 2 * 30px) / 3);
  margin-right: 30px;
  margin-bottom: 30px;
}

.portfolio-list .item:nth-child(3n) {
  margin-right: 0;
}

.portfolio-list .item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.portfolio-list .title {
  color: var(--primary-text-color);
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  text-align: left;
}

.portfolio-list .description {
  color: var(--secondary-text-color);
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
}

.portfolio-list .text {
  display: none;
  background-color: var(--accent-color);
  color: var(--white-color);
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
}
